Launcher/Host/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LauncherLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IService1_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMachineName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMachineName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendZippedDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:SendZippedDirectory" />
  </wsdl:message>
  <wsdl:message name="IService1_SendZippedDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendZippedDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StartProcessFromZipDir_InputMessage">
    <wsdl:part name="parameters" element="tns:StartProcessFromZipDir" />
  </wsdl:message>
  <wsdl:message name="IService1_StartProcessFromZipDir_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartProcessFromZipDirResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_KillProcessFromZipDir_InputMessage">
    <wsdl:part name="parameters" element="tns:KillProcessFromZipDir" />
  </wsdl:message>
  <wsdl:message name="IService1_KillProcessFromZipDir_OutputMessage">
    <wsdl:part name="parameters" element="tns:KillProcessFromZipDirResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ping" message="tns:IService1_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PingResponse" message="tns:IService1_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMachineName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMachineName" message="tns:IService1_GetMachineName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMachineNameResponse" message="tns:IService1_GetMachineName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendZippedDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendZippedDirectory" message="tns:IService1_SendZippedDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendZippedDirectoryResponse" message="tns:IService1_SendZippedDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartProcessFromZipDir">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StartProcessFromZipDir" message="tns:IService1_StartProcessFromZipDir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StartProcessFromZipDirResponse" message="tns:IService1_StartProcessFromZipDir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KillProcessFromZipDir">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KillProcessFromZipDir" message="tns:IService1_KillProcessFromZipDir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KillProcessFromZipDirResponse" message="tns:IService1_KillProcessFromZipDir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#NetTcpBinding_IService1_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IService1/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineName">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetMachineName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendZippedDirectory">
      <soap12:operation soapAction="http://tempuri.org/IService1/SendZippedDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartProcessFromZipDir">
      <soap12:operation soapAction="http://tempuri.org/IService1/StartProcessFromZipDir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KillProcessFromZipDir">
      <soap12:operation soapAction="http://tempuri.org/IService1/KillProcessFromZipDir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="NetTcpBinding_IService1" binding="tns:NetTcpBinding_IService1">
      <soap12:address location="net.tcp://localhost:8733/Design_Time_Addresses/LauncherLib/Service1/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/Design_Time_Addresses/LauncherLib/Service1/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>